[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"rfc3339" = "*"
ansicolors = "*"
requests = "*"
slackclient = "*"
background = {git = "https://github.com/kennethreitz/background.git"}
waitress = "*"

[dev-packages]
pytest = "*"
black = "==18.4a4"
pre-commit = "*"

[requires]
python_version = "3.7"

[scripts]
dev = "flask run"
